<header id="{{ section.id }}">
    <div class="header">
        <div class="header__container center center--wide">

            <a href="#" class="header__logo">
                <div class="brand">Dany-May</div>
                <div class="slogan">
                    BOUTIQUE
                    <span></span>
                </div>
            </a>

            <div class="header__menu">
                <div class="dismiss" data-dismiss="menu"></div>

                <!-- Mobile only -->
                <div class="menu__header">
                    <div class="dismiss" data-dismiss="menu"></div>
                    <span class="menu__header__title">Menu</span>
                </div>

                <nav class="menu__container">
                    <div class="menu">
                        <ul class="level-1">
                            <li class="menu-item"><a href="#">Home</a></li>
                            <li class="menu-item has-children">
                                <a href="#" class="has-submenu">Home & Living [+]</a>
                                <div class="megamenu">
                                    <div class="megamenu__container">
                                        <div class="megamenu__content">

                                            <ul class="level-2 mega-submenu submenu">
                                                <li class="menu-item has-children">
                                                    <a href="#" class="menu__heading has-submenu">Stoer & Sober [+]</a>

                                                    <ul class="level-3 submenu">
                                                        <li class="menu-item"><a href="#" class=" ">Houten accessoires</a></li>
                                                        <li class="menu-item"><a href="#" class=" ">Metalen accessoires</a></li>
                                                    </ul>

                                                </li>
                                                <li class="menu-item has-children">
                                                    <a href="#" class="menu__heading has-submenu">Hotel Chiq [+]</a>
                                                    <ul class="level-3 submenu">
                                                        <li class="menu-item "><a href="#" class=" ">Lampen</a></li>
                                                        <li class="menu-item "><a href="#" class=" ">Foto lijsten</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item has-children">
                                                    <a href="#" class="menu__heading has-submenu">Modern [+]</a>
                                                    <ul class="level-3 submenu">
                                                        <li class="menu-item "><a href="#" class=" ">Beeldjes</a></li>
                                                        <li class="menu-item "><a href="#" class=" ">Kussens</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item has-children">
                                <a href="#" class="has-submenu">Dameskleding [+]</a>
                                <div class="megamenu">
                                    <div class="megamenu__container">
                                        <div class="megamenu__content">
                                            <ul class="level-2 submenu">
                                                <li class="menu-item"><a href="#" class=" ">Jurken</a></li>
                                                <li class="menu-item"><a href="#" class=" ">Broeken</a></li>
                                                <li class="menu-item"><a href="#" class="  ">T-Shirts</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item has-children">
                                <a href="#" class="has-submenu">Accessoires [+]</a>
                                <div class="megamenu">
                                    <div class="megamenu__container">
                                        <div class="megamenu__content">
                                            <ul class="level-2 submenu">
                                                <li class="menu-item"><a href="#" class=" ">Riemen</a></li>
                                                <li class="menu-item"><a href="#" class=" ">Tassen</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item"><a href="#">Sale</a></li>
                            <li class="menu-item"><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </nav>

                <!-- Mobile only -->
                <div class="menu__footer">acties</div>

                <div class="header__actions">
                    <div class="header__action" data-toggle="search-panel">
                        <svg class="svg-icon">
                            <use xlink:href="#svg-search"></use>
                        </svg>
                    </div>
                    <div class="header__action" data-trigger="user">
                        <svg class="svg-icon">
                            <use xlink:href="#svg-user"></use>
                        </svg>
                    </div>
                    <div class="header__action" data-trigger="favorites">
                        <svg class="svg-icon">
                            <use xlink:href="#svg-favorites"></use>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="header__actions header__actions--mobile">
                <div class="header__action" data-trigger="basket">
                    <svg class="svg-icon">
                        <use xlink:href="#svg-cart"></use>
                    </svg>
                    <span class="basket__count">24</span>
                </div>
                <div class="menu-burger">
                    <svg data-action="sidebar" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                        <line stroke="#222" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="4" y1="9" x2="28" y2="9"></line>
                        <line stroke="#222" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="4" y1="16" x2="28" y2="16"></line>
                        <line stroke="#222" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="4" y1="23" x2="28" y2="23"></line>
                    </svg>
                </div>
            </div>
        </div>

    </div>
    <div class="header__overlay"></div>
</header>