
* {
	margin: 0;
	padding: 0;
	padding-bottom: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
}

html {
	font-size: 16px;
	box-sizing: border-box;
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	touch-action: manipulation;
}

html.menu-shown {
	.header {
		position: fixed;
		height: 100%;
	}
	.content__container {
		transform: scale(0.7) translate3d(0, 0, 0);
		transition: transform 0.3s cubic-bezier(0.975, 0.015, 0.46, 0.99);
	}
}

body {
	background: #fff;
	font-family: var(--font-stack-first);
	font-size: 1rem;
	font-weight: 400;
	overflow-x: hidden;
}

.custom-scrollbars * {
	-ms-overflow-style: -ms-autohiding-scrollbar;
	scrollbar-width: thin;
	scrollbar-color: #999 #eee;
}

/* Layout
*********************************/

.page {
	display: none;
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: hidden;
	height: 100%;

	&__container {
		display: flex;
		flex-grow: 1;
		position: relative;
		overflow: hidden;
	}

	&__content {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex: 1;
		flex: 1;
		position: relative;
		min-width: 0;
	}

	.content__container {
		scroll-behavior: smooth;
		display: flex;
		flex-direction: column;
		height: 100%;
		position: relative;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		transition: transform 0.3s cubic-bezier(0.975, 0.015, 0.46, 0.99);

		.content {
			flex-grow: 1;
			&::after {
				display: block;
				clear: both;
				content: "";
			}
		}
	}
}


/* To top
*********************************/

.scrolltop {
	display: none;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	bottom: 20px;
	right: 10px;
	align-items: center;
}

.scroll {
	position: absolute;
	right: 20px;
	bottom: 20px;
	background-color: transparent;
	padding: 20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor: pointer;
	transition: 0.5s;

	font-size: 0.6875rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.16em;
	line-height: 1.2727272727;

	span {
		position: relative;
		margin-right: 0.5rem;
		padding-bottom: 0.5rem;

		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0.01px;
			height: 0.0625rem;
			background-color: currentColor;
			transition: width 0.25s ease;
		}
	}

	.svg-icon {
		position: relative;
		transform: rotate(-90deg);
		margin-top: -5px;
		margin-left: 1px;
		width: 1.25em;
		height: 1.25em;
		fill: currentcolor;
		transition: top ease 0.5s;
	}

	&:hover {
		transition: 0.5s;

		span:before {
			width: 100%;
		}
		.svg-icon {
			top: -5px;
		}
	}
}
